<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RecommendService" />
                <binding name="BasicHttpBinding_ReviewService" />
                <binding name="BasicHttpBinding_INearestStore" />
                <binding name="BasicHttpBinding_IGeocoding" />
                <binding name="BasicHttpBinding_IWeatherSolar" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webstrar17.fulton.asu.edu/Page1/TopSellersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RecommendService"
                contract="RecommendedService.RecommendService" name="BasicHttpBinding_RecommendService" />
            <endpoint address="http://webstrar17.fulton.asu.edu/Page1/ReviewService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReviewService"
                contract="ReviewServiceReference.ReviewService" name="BasicHttpBinding_ReviewService" />
            <endpoint address="http://webstrar17.fulton.asu.edu/Page4/NearestStore.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INearestStore"
                contract="NearestStore.INearestStore" name="BasicHttpBinding_INearestStore" />
            <endpoint address="http://webstrar17.fulton.asu.edu/Page8/Geocoding.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocoding"
                contract="GeocodingServices.IGeocoding" name="BasicHttpBinding_IGeocoding" />
            <endpoint address="http://webstrar17.fulton.asu.edu/Page8/WeatherSolar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherSolar"
                contract="WeatherService.IWeatherSolar" name="BasicHttpBinding_IWeatherSolar" />
        </client>
    </system.serviceModel>
</configuration>
